.tab-list-item{
	line-height: 26px!important;
}
.product-tabs-style2 .product-tabs-content .product-list-content{
	padding-left: 15px;
	padding-right: 15px;
}
.product-box-content{
	width: 207px;
}
.dflex{
	display: flex;
}
.justifybetween{
	justify-content: space-between;
}

.icon_active{
	background-color: #52bda9!important;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}